<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\03 Official DATA\WPF Projects\PAYROLL\Payroll\bin\Debug\misit_payroll.accdb; Persist Security Info=False;"/>
    <!--<add name="connection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\03 Official DATA\WPF Projects\PAYROLL\Payroll\bin\Debug\misit_payroll.accdb; Jet OLEDB:Database Password=m#Aamir.set21;"/>-->
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>